table{
    width: 100%;
  }
  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 5px;
    font-size: 0.8em;
  }
  
  td.mat-cell{
    white-space: pre-wrap;
  }
  
  .mat-header-row{
    background-color: #5e151e;
  }
  
  .mat-header-cell {
    color: white;
  }
  
  .mat-row:nth-child(even){
    background-color:#cccc33;
    }
  
  .mat-row:nth-child(odd){
    background-color:#e6e699;
    }

#table{
    display: flex;
}

mat-table{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}