<mat-toolbar color="primary">
  <button class="menu-button" mat-raised-button color="accent" [routerLink]="['/willkommen']" routerLinkActive="router-link-active" >Neuleininger Blaskapelle</button>
  <button class="menu-button" mat-raised-button color="warn" [matMenuTriggerFor]="vereinsmenu">Verein</button>
  <mat-menu #vereinsmenu="matMenu">
    <button mat-menu-item [routerLink]="['/geschichte']" routerLinkActive="router-link-active" >Geschichte</button>
  </mat-menu>
  <button class="menu-button" mat-raised-button color="warn" [routerLink]="['/proben']" routerLinkActive="router-link-active" >Proben</button>
</mat-toolbar>
