<div class="text">
    <h1>Proben</h1>
    <div class="absatz">
      Neue Musiker sind gerne gesehen! <br>
      Einfach Vorbeikommen!
    </div>
    <div class="absatz">
      <h3>Wann wir proben:</h3>
    </div>
    <div class="absatz">
      jeden Donnerstag <br>
      19:30 Uhr bis 21:30 Uhr
    </div>
    <div class="absatz">
      <h3>Wo wir proben:</h3>
    </div>
    <div class="absatz">
      Dorfgemeinschaftshaus Neuleiningen <br>
      St. Nikolausstraße 25 <br>
      67271 Neuleiningen
    </div>
    <div class="absatz">
      Parkplatz vor Ort
    </div>
    <div class="absatz">
      <iframe id="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d802.7361917375491!2d8.135385146748172!3d49.542318906485185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDnCsDMyJzMyLjMiTiA4wrAwOCcwOS40IkU!5e1!3m2!1sde!2sde!4v1532348996355"
        style="border:0"
        allowfullscreen="true"
        width="3000"
        height="800"
        frameborder="0">
      </iframe>
    </div>
    <div class="absatz">
        <a 
            href="https://www.google.com/maps/place/49%C2%B032'32.4%22N+8%C2%B008'08.9%22E/@49.543184,8.1328981,16z/data=!4m14!1m7!3m6!1s0x47963bf512012c1d:0x422d4d510db2290!2sNeuleiningen!3b1!8m2!3d49.5424819!4d8.136496!3m5!1s0x0:0x0!7e2!8m2!3d49.5423192!4d8.1358113"
            target="_blank"
        >
            Auf Google Maps ansehen.
        </a>
    </div>
  </div>
  
  